# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore cache Python
__pycache__/
*.pyc

# Ignore temp files
*.log
*.tmp
*.rar
*.txt
*.zip

# Ignore datasets folder
B-ALL_Datasets/


# Ignore not useful folders
Not_useful_anymore/
Projects_Backup/

# Ignore files in CellCNN folder
CellCNN/__pycache__/
CellCNN/.ipynb_checkpoints/
CellCNN/not/
CellCNN/resampling_rework.ipynb

CellCNN/results/.ipynb_checkpoints/
CellCNN/results/02-10-25
CellCNN/results/15-10-25
CellCNN/results/old

# Ignore files in CSNN folder
CSNN/entire_code
CSNN/experiment