# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore cache Python
__pycache__/
*.pyc

# Ignore temp files
*.log
*.tmp
*.rar
*.txt
*.zip

# Ignore datasets folder
B-ALL_Datasets/


# Ignore not useful folders
Not_useful_anymore/
Projects_Backup/

# Ignore files in CellCNN folder
CellCNN/__pycache__/
CellCNN/not_to_push/

# Ignore files in General_Functions folder
General_Functions/__pycache__/
General_Functions/not_to_push/

# Ignore CSNN folder
CSNN
CSNN